[2014-10-16 15:30] mgonto opened #1 "Add Python 2.7 example"

[2015-05-26 00:35] rayvace opened #4 "Flask API Seed example raises InvalidAudienceError('Invalid audience')"
I notice that Flask API Seed example only works when I pass "audience=CLIENT_ID" into jwt.decode(). I'm not sure if it's something with my configuration, but I consistently hit an InvalidAudienceError when I auth via Google+ if I fail to include this as a parameter.

[2015-10-07 16:03] Annyv2 opened #6 "Typos in the Readme and App.js file"
The app.js file has an outdated comment: "// All this properties are set on auth0-variables.js". Those properties are currently set on a .env file.

The readme.md file doesn't explain that for the seed project to work on Windows the .env file (in the case that it has to be created by the user) needs to have a newline in the end, after the URL.

[2015-10-12 21:15] Annyv2 opened #8 "Incompatibility with Python 3.x"
The seed project of the flask-webapp sample uses not session.has_key(‘profile’) which is not compatible with Python 3 and produces an error when trying to use server.py

[2015-11-03 15:19] Amialc opened #10 "Flask-Webapp deprecated library"
Flask webapp using deprecated library auth0-widget. Should be changed to auth0-lock

[2015-11-03 19:22] Amialc commented on #10
180002b58c840be057cc070b2300cc6581b25189

[2015-11-10 22:17] #10 closed

[2015-11-11 15:51] #8 closed

[2015-11-11 15:51] #6 closed

[2015-12-14 20:57] Annyv2 opened #18 "Web app using Old version of lock"
Flask web app example is using lock 7.11, current version is 7.12

[2015-12-28 18:57] #18 closed

[2016-01-11 05:18] craigtracey opened #24 "Add release tags"
One is able to install from PyPi, but it is not clear which SHA pertains to which release. Adding tags for the relevant published versions would be extremely helpful for an end user.

[2016-01-12 02:11] aguerere opened #25 "Readme file does not comply with usual template"
The issue tracking, author and license sections should be together and at the bottom of the readme file.
Also the license link in the readme is broken.

[2016-01-20 18:03] treystout opened #27 "Add support for impersonation of users"
Would be nice to generate valid links for impersonation of users via the API

[2016-01-25 18:08] #25 closed

[2016-02-15 18:21] Annyv2 opened #29 "CORS Issue Flask API"
When testing the API with JQuery I received a CORS issue, which was fixed by adding `@cross_origin(headers=['Access-Control-Allow-Origin', '*'])`

[2016-02-16 21:14] Annyv2 opened #30 "Improve webapp README"
The README is missing the install dependencies instruction on the webapp example

[2016-02-21 14:58] Annyv2 opened #32 "Python WebApp Seed wrong callback on README"
The README states that this callback `AUTH0_CALLBACK_URL=http://localhost:3000/auth/auth0/callback` should be used but it should be http://localhost:3000/callback. So a fix in the README is needed in order to explain this

[2016-02-24 19:13] #32 closed

[2016-03-03 21:20] #30 closed

[2016-03-30 19:48] #29 closed

[2016-04-29 10:23] elpaso opened #39 "authentication.Users(client_domain).tokeninfo fails"
I've got a traceback:

[code]

[2016-05-02 18:07] cancan101 opened #41 "Improve Signature of send_verification_email"
Rather than:

[code]

I suggest:

[code]

[2016-05-06 21:58] yvonnewilson opened #42 "Need rate limiting info returned by SDK"
SDK should return the info that Auth0 returns on HTTP headers about rate limiting, so calling program can dynamically adjust the rate at which it makes subsequent API calls (that are rate limited)

Here is the documentation on what programs are supposed to do:
https://auth0.com/docs/rate-limits

SDK should return the info to enable that.

[2016-08-07 20:15] aferust opened #44 "Accepting POST data instead of GET in examples/flask-api"
I am trying to settle a server for a react-native app based on examples/flask-api. it seems that server.py accepts requests as GET data. I want to learn two things. Is using GET safe enough? Can I use POST requests for more security?

[2016-08-08 06:07] cancan101 opened #45 "Add "all" option to list users"
Add an `all` option to the users `list` method that handles pulling down all matching users (ie deals with pagination). Right that responsibility seems to be pushed onto the consumer. Further the documentation for how to get total number of pages is sparse.

[2016-08-18 20:18] AzRu commented on #39
I think it's due to this line (49) in auth0/v2/authentication/users.py
[code]
when it should be
[code]

[2016-08-19 17:25] #39 closed

[2016-10-03 00:28] xiongzhp commented on #44
I've got the same questions

[2016-10-03 12:20] aferust commented on #44
Hi xiongzhp. I did not want to use form data, but This is how I figured it out so far:

react-native part:

[code]
flask server part in server.py:

[code]

[2016-10-10 14:40] Amialc opened #47 "deprecation warning"
When I run the server, received this deprecation warning:
![image](https://cloud.githubusercontent.com/assets/1114365/19214898/8a3aff06-8d97-11e6-893a-7f8372a14d21.png)
![image](https://cloud.githubusercontent.com/assets/1114365/19239800/641173d0-8f10-11e6-8942-da44671280c7.png)

[2016-11-08 06:28] iAmMrinal0 opened #48 "Contributing.rst file does not exist"
[CONTRIBUTING.rst](https://github.com/sophilabs/auth0-python/blob/v2/CONTRIBUTING.rst) gives a 404

[2016-11-28 17:12] #47 closed

[2017-02-03 12:31] derfloh opened #52 "Logs Endpoint missing in Management API"
It seems like https://auth0.com/docs/api/management/v2#!/Logs/get_logs is missing in the management api.

It would be great if this can be added.

[2017-02-07 22:04] AzRu opened #53 "How do we get all users?"
Max is 100 using auth0.users.list, what's the best way to get them all?

[2017-02-15 23:09] andrewkrug opened #54 "Non-Public Cloud"
Will this work on non-public cloud enterprise deployments of auth0?

[2017-02-28 15:07] mwisner opened #56 "How to automatically renew tokens?"
Hi,

It appears that as of late there has been some changes on how to generate tokens used by the auth0 management apis. One of the more problematic issues is that If we follow the token generation strategies within the auth0 application itself the tokens returned only appear to last for 24 hours.

I believe the previous way of generating tokens, documented in the readme of this repo, did not have

[2017-04-17 14:24] Annyv2 commented on #4
Hi! We have updated our sample so the audience is no longer the CLIENT_ID.

[2017-04-17 14:24] #4 closed

[2017-04-17 14:29] Annyv2 commented on #52
Hi! It was added to v3 of the SDK

[2017-04-17 14:29] #52 closed

[2017-04-25 14:40] xoen opened #61 "Intermittent error while installing from requirements.txt"
I have this very simple `requirements.txt`

[code]

and when installing the dependencies (a part of a jenkins job) by running `pip3 install -r jenkinsfiles/auth0-users/requirements.txt` it fails. I don't get much back a part from the `-1` unfortunately:

[code]

Versions of python, pip, etc...:
* Python 3.4.2
* appdirs-1.4.3
* packaging-16.8
* pip-9.0.1
* pyparsing-2.2.0
* setuptools-35.0.1
* six-

[2017-04-26 12:27] petermorlion opened #62 "400: Bad HTTP authentication header format"
I'm getting the following error: `auth0.v3.exceptions.Auth0Error: 400: Bad HTTP authentication header format`.

This is the code I'm using (anonymized):

[code]

In my Auth0 logging, I can see the token was created succesfully:

[code]

I've also printed out the `Authorization` header that the auth0-python package (rest.py module) uses and it seems correct (i.e. `Bearer: <token>`):

[code]

Any id

[2017-04-27 08:33] petermorlion commented on #62
Found the problem. I was creating the auth0 instance by passing in the `token` dict, instead of `token['access_token']`. Changing my code to this made it work:

[code]

[2017-04-27 08:33] #62 closed

[2017-04-29 16:39] mwisner commented on #56
It looks like in the 3.0.0 release a getToken function has been added.

I was able to use this to automatically refresh tokens.

Using Django:

[code]
Note: This snippet was minimally tested.

[2017-04-29 16:39] #56 closed

[2017-05-09 22:59] pnovotnak commented on #53
This snippet will do it. This functionality should be integrated into the library :/

[code]

[2017-05-18 13:16] ravoro opened #63 "Auth0Error not being raised due to inconsistent API error responses"
Currently `Auth0Error` is raised whenever the API response contains an `error` key in the response JSON. Unfortunately at least one endpoint (`/dbconnections/signup`) returns inconsistent error messages (that do not always contain the `error` key) for different scenarios and as a result `Auth0Error` is not raised when an error occurs.

Examples of inconsistent responses:
* when making a signup req

[2017-05-23 18:38] Hellfire566 opened #65 "dbconnections/change_password - Fails do to a non-json response"
The response from the change_password request has changed within the last 24 hours of writing this.  The response from a change request is not just a text string, not a JSON.
request.text  is  "We've just sent you an email to reset your password."
The documentation at [https://auth0.com/docs/api/authentication#change-password] agrees.
The _process_request method in AuthenticationBase attempts to p

[2017-06-13 10:51] #65 closed

[2017-06-14 09:05] Annyv2 commented on #44
Hi! We have moved our API sample to https://github.com/auth0-samples/auth0-python-api-samples

[2017-06-14 09:05] #44 closed

[2017-06-19 21:34] beck3905 opened #70 "Get all Rules regardless of enabled/disabled"
The Auth0 Management API supports getting all Rules or filtering by enabled/disabled.  If the enabled parameter is present and set to True, only enabled rules are returned.  If it is present and set to False, only disabled rules are returned.  If it is not present, all rules are returned.

The python package always includes the enabled parameter in requests and thus will only return enabled rules

[2017-06-27 15:43] Annyv2 commented on #70
Thank you very much for your contribution! We have merged your PR

[2017-06-27 15:43] #70 closed

[2017-06-28 17:50] beck3905 opened #71 "There was a change to auth0/v3/authentication/logout.py on 6/9/2017 that makes this library incompatible with Python 2.7"
It appears the following commit ([https://github.com/auth0/auth0-python/commit/7b0c7b123942a99af358dfb07815ed71ac3b7c9b](https://github.com/auth0/auth0-python/commit/7b0c7b123942a99af358dfb07815ed71ac3b7c9b)) broke Python 2.7 support as the `urllib.parse` method is `urlparse` in Python 2.7.

[2017-06-29 06:10] iAmMrinal0 commented on #48
Fixed in b978973ac0e1e91dae38ca2dee2d4512ebfbe67f

[2017-06-29 06:10] #48 closed

[2017-07-05 00:10] dmark commented on #53
If you just need a dumb dump of all your users:

[code]

[2017-07-15 16:33] Calion54 opened #74 "api authorization signup with username field required"
Hi,

I have enable a field "Requires Username" in database connection but the problem is how to pass the username field in the request ?
I use Database Endpoint :

[code]

It's possible to use this feature ?

Thank you,

[2017-07-19 03:04] vCloudernBeer commented on #71
I would like to take a look at this problem and submit a pull request when fixed.

[2017-07-19 04:04] vCloudernBeer commented on #71
Seems like it is already fixed.
latest code:
try:
    from urllib.parse import quote_plus
except ImportError:
from urllib import quote_plus

[2017-08-26 12:16] jparal opened #76 "ClientGrants.all is missing `client_id` parameter supported by the API"
https://auth0.com/docs/api/management/v2#!/Client_Grants/get_client_grants

[2017-10-20 23:41] #63 closed

[2017-10-27 05:55] Substr opened #82 "Calls to requests.get() and requests.post() are missing the timeout parameter"
We've encountered issues in our production environment for weeks and after some digging, released that calls to `requests.get()` and `requests.post()` and missing the `timeout` parameter, causing the server to hang indefinitely on occasion if no response is received.

In our specific case, the problem is with these instances:

[code]

but there may well be others.

As noted on the [requests docume

[2017-11-28 21:20] chrisbroome opened #84 "Add support for new get_users_by_email endpoint"
The auth0 node.js client got support for the [get_users_by_email](https://auth0.com/docs/api/management/v2#!/Users_By_Email/get_users_by_email) about 3 weeks ago (https://github.com/auth0/node-auth0/commit/80c9b0c7039a73a5c69af23756f589904e4e80a8).

This is pretty critical for us because the way we are currently searching for users (using the [get_users](https://auth0.com/docs/api/management/v2#!/

[2017-12-07 23:48] marcelchastain commented on #42
Was looking into this myself. Seems like the SDK just returns a plain dict of the response.

For auth0 core devs, future me, or anyone who might be  interested in developing a PR, one approach would be to use [requests.Session()](http://docs.python-requests.org/en/master/user/advanced/#session-objects) combined with [event hooks](http://docs.python-requests.org/en/latest/user/advanced/?highlight=h

[2017-12-16 11:59] Calion54 opened #86 "Auth0Error not raise with Users Client"
Hi,

I would like update the user password but if the request return a 400 status code, there is no exception throw "Auth0Error".

My request :

[code]

I get :
`{'statusCode': 400, 'error': 'Bad Request', 'message': 'PasswordHistoryError: Password has previously been used'}`

But in your RestClient, you check if there is an attribute with the name "errorCode" but that doesn't work because the att

[2018-01-12 00:57] mattdodge opened #89 "User blocks is not instantiated"
Unlike the other endpoint classes (e.g., `Users`, `Connections`), the `UserBlocks` class is not instantiated in the root `Auth0` object. Is this by design? Culprit line seems to be here: https://github.com/auth0/auth0-python/blob/master/auth0/v3/management/auth0.py#L43

I would expect to fetch a user's blocks like so
[code]
since I fetch users like this:
[code]

But instead I have to pass the doma

[2018-01-14 18:36] saschajullmann opened #91 "How can I use the Auth0Error class"
Hi there,

I'm trying to use the Auth0 Python SDK in my flask application but can't get the Auth0Error to work. I currently have the following code:

`import os, json, requests
from auth0.v3.authentication import GetToken
from auth0.v3.exceptions import Auth0Error
from auth0.v3.management import Auth0

auth_domain = os.getenv('DOMAIN')
auth_client_id = os.getenv('AUTH0_CLIENT_ID')
auth_client_secr

[2018-01-27 14:41] cricket007 commented on #91
[code]

https://docs.python.org/3/tutorial/errors.html

[2018-01-28 13:24] saschajullmann commented on #91
Thank you!

[2018-01-28 13:24] #91 closed

[2018-02-23 05:23] wbashir commented on #84
Any updates to this?

[2018-03-14 14:50] rmnvncnt commented on #82
Using the code from the example calls to `get_token.client_credentials()` hangs forever.

[2018-03-26 15:08] lbalmaceda commented on #89
Hey @mattdodge. I don't think this was meant this way "by design". It's clear to me in the line you shared that the user blocks entity is being create differently than the rest. To be honest I don't know how one way or the other affects the performance (good/bad way) since I'm not a python dev. But it makes total sense to have all of them being used in the same way.

[2018-04-10 16:45] larkost-fetch opened #95 "Mis-encoded unicode in blocked account message"
I am pretty sure that the actual problem is on the server side, but since I am seeing it through the Python client I am filing this here.

I am seeing and issue with the error message returned when a user has been blocked for too many authentication attempts. Namely that there is a mis-encoded right-single-quote (as in the right curly quote) in the message:
[code]
That is what you get if you print

[2018-04-11 13:41] dkvasnicka commented on #84
Use the `Users.list` method, it supports v2 search engine and the `q` parameter: https://github.com/auth0/auth0-python/blob/master/auth0/v3/management/users.py#L27

[2018-04-11 23:57] saltukalakus commented on #84
@dkvasnicka no, that is a different endpoint. search by email endpoint is recommended instead of that endpoint where possible. I have pushed a PR => https://github.com/auth0/auth0-python/pull/96 hopefully will be merged soon.

[2018-04-11 23:59] saltukalakus commented on #84
cc @aaguiarz

[2018-04-27 19:00] #89 closed

[2018-04-30 10:59] TotempaaltJ opened #100 "Setting user metadata is not supported through signup"
Even though the API supports it: https://auth0.com/docs/api/authentication#signup

[2018-04-30 18:30] faria opened #101 "TypeError from get_token.client_credentials using v3.2.0 and py2.7"
I am on python2.7. The get_token.client_credentials has always worked for me using v3.1.4.
I upgraded to 3.2.0 and I get the following error when calling client_credentials:

File "/Users/faria/w/nsplab/orbit-server/scripts/auth0_users.py", line 19, in connect
    token = get_token.client_credentials(client_id, client_secret, mgmt_url)
  File "/Users/faria/.virtualenvs/orbit/lib/python2.7/site-pac

[2018-05-02 20:05] sungkim1qbit commented on #101
Having same issue here
[code]

[2018-05-04 20:29] wbashir opened #102 "Auth0Error on Passwordless Object"
I am getting a `400` ERROR when working with the `from auth0.v3.authentication.passwordless import Passwordless` class as it looks like the `AuthenticationBase` does not set the headers properly for some reason?

Has anyone figured out away to pass the `auth0` class from the documentation so I can just pass my client id only.

[code]

[2018-05-19 11:38] andybeak opened #104 "Failed to establish a new connection: [Errno 110]"
[code]

Using Python 3.5 this results in:

[2018-05-30 15:56] staab opened #105 "Auth0Error no longer provides detailed error messages"
On upgrading from 3.1.4 to 3.2.2, error messages from `users.create` went from being helpful like this:

[code]

To being unhelpful, like this:

[code]

[2018-06-18 17:20] lbalmaceda commented on #45
Hey sorry for the late response! I know this is old but I wanted to reply anyway. `Users` supports pagination since 2015, and until the past month the endpoint was returning the full list of users when called without the pagination params. The thing is that this SDK [enforces them](https://github.com/auth0/auth0-python/commit/c2a94ccff227d198435d452518fb34c477bccae3) when they are missing so there

[2018-06-18 17:20] #45 closed

[2018-06-18 17:22] lbalmaceda commented on #84
@chrisbroome Following up here while the new endpoint's PR is ongoing. The new `search_engine=v3` should perform fine when querying a User in the `GET /users` endpoint.

[2018-06-18 17:23] #71 closed

[2018-06-18 17:27] lbalmaceda commented on #53
The endpoint is going to be pagination-enforced from the server side if you're using a new Auth0 account, unfortunately. The best way to get them all would be to iterate through each page or use a query to filter out the results and lower the count.

[2018-06-18 17:27] #53 closed

[2018-06-18 17:29] lbalmaceda commented on #24
We've recently improved our release procedure. This should be available from now on. Thanks

[2018-06-18 17:29] #24 closed

[2018-06-18 17:32] lbalmaceda commented on #41
There are many signatures on this SDK like that (receiving a super generic dictionary as body). I don't like that at all :D but changing it would be breaking at this point. I've already added a task to track this internally in the eventual case of a new major version being planned. Thanks

[2018-06-18 17:32] #41 closed

[2018-06-18 17:37] lbalmaceda commented on #74
@Calion54 Ughh! This one is missing but re-ordering that signature would be a breaking change. I can either add it as the last param of that `signup` method (not good since connection is in between 🤔) or create a whole new signature that accepts that other param. I'll keep this open to track it thanks for the report.

[2018-06-18 17:50] lbalmaceda commented on #105
Sorry about that! Are you calling the very same request on both snippets? This changed on April as you can see [here](https://github.com/auth0/auth0-python/commits/master/auth0/v3/management/rest.py). If you could provide the raw response string I might be able to look into what changed. Error handling should have improved in that last release, not the other way around. Maybe the message is still

[2018-06-18 17:52] lbalmaceda commented on #104
are you saying that the URL being handled to the HTTP Client is `my-tenant` instead of `my-tenant.eu.auth0.com` or was that a typo in your snippet?

[2018-06-18 17:53] lbalmaceda commented on #86
This should be already fixed on the latest release.

[2018-06-18 17:53] #86 closed

[2018-06-18 17:54] lbalmaceda commented on #100
I'll see if I can add it when I add support for `username` field. https://github.com/auth0/auth0-python/issues/74

[2018-06-18 18:59] lbalmaceda commented on #95
Thanks. I've already reported this. Let's see what happens 🤞

[2018-06-18 19:03] lbalmaceda commented on #61
No clue. Sounds like a network problem to me. I'll leave this open for a while to see if anyone is having the same issue.

[2018-06-18 19:03] lbalmaceda commented on #1
👋

[2018-06-18 19:03] #1 closed

[2018-06-18 19:04] lbalmaceda commented on #27
We're not planning to support this.

[2018-06-18 19:04] #27 closed

[2018-06-18 20:24] lbalmaceda opened #109 "Assert there's no breaking change after Pagination is added"
While adding pagination, the `include_totals` field could be added with a default of `True`. This can cause potential breaking changes since the server response changes in each case. Before making the release of 3.3.0 this should be evaluated.

Related PRs:
- https://github.com/auth0/auth0-python/pull/106
- https://github.com/auth0/auth0-python/pull/110

[2018-06-20 20:56] chrisbroome commented on #84
I'm actually actually no longer on the project that uses this repo, so I'm fine with closing out the issue.

[2018-07-11 02:43] neurochen opened #114 "get all users for an app"
Hi, Could you please let me know if there is a function to get all the user_id for a specific app? Thanks.

I want to deploy an app and add new users later on. In this case, I need a function to check all the user_id for authentication status. Thanks.

[2018-07-11 02:48] y471n opened #115 "No endpoint/method to revoke the refresh token"
Hi, I couldn't find any method to revoke the refresh token. Isn't it built into the library?

[2018-07-11 15:41] lbalmaceda commented on #115
You're looking for the `/oauth/revoke` endpoint but it's missing from this SDK. I'll add an entry in our backlog to review this. Thanks

Related: https://auth0.com/docs/api/authentication#revoke-refresh-token

[2018-07-11 15:52] lbalmaceda commented on #114
@neurochen You should be calling the `GET /users` endpoint. This is implemented in [this method](https://github.com/auth0/auth0-python/blob/master/auth0/v3/management/users.py#L27). If you only need to obtain the `user_id` of each user you can narrow the results by passing `fields=user_id`. However if you do need to filter by "application id" that's not something supported out of the box. You'd ne

[2018-07-11 16:05] neurochen commented on #114
Thanks! I already figured it out this morning. You guys have the function I need exactly.

Could you please give me a python example for sending a push notification to a specific user and checking the authorization status? I did a bit of search, but still didn't find it. Thanks.

[2018-07-11 16:11] lbalmaceda commented on #114
I'm happy you found the method! I don't entirely understand what you mean by "checking the authorization status". Anyway, this space should be used only for this SDK's specific issues or questions. If you need guidance on how to use the auth0 platform please visit https://support.auth0.com where our amazing staff and even the community can help answer you that. I'll close this issue now.

[2018-07-11 16:11] #114 closed

[2018-07-12 19:32] #105 closed

[2018-07-12 19:35] lbalmaceda commented on #109
No breaking changes were added 👍

[2018-07-12 19:35] #109 closed

[2018-07-12 19:43] staab commented on #105
Sorry I missed your comment! And thanks for the fix.

[2018-07-23 22:19] va17 opened #117 "Add support to manage rule configs"
Currently there isn't support to get, create, update, and delete rule settings/configs.

https://auth0.com/docs/api/management/v2#!/Rules_Configs/get_rules_configs

[2018-08-03 10:28] CharuR opened #118 "Duplicate user creation fails with "409: Conflict""
Had there been a change to Auth0 error messages? For duplicate user creation, a message as 'Conflict' instead of 'The user already exists.' is quite vague.
I had a check based on Auth0Error.message field, which is failing now, for user creation with duplicate email.
Could you help!

[2018-08-03 13:12] lbalmaceda commented on #118
@CharuR some error handling changes have been made to this library in the past 2 months. But those were to improve the quality of the error. In any case, you should never check against `message` as that is a user friendly text that can change from one moment to the other without any previous notice. You should always check against the `code`. Are you using the latest version?

[2018-08-08 18:10] cancan101 opened #119 "authorize_client for generating URL for Client"
The logic in `authorize_client` seems to both generate the authorize url as well as call it. In the case of sending a redirect to the user, it would be ideal to just be able to generate the URL and then return a 302 directing the url the composed URL.
https://github.com/auth0/auth0-python/blob/cbce31b770619a772cfecc5fea6df4390e6e95cc/auth0/v3/authentication/authorize_client.py#L15-L32

[2018-09-06 20:50] cancan101 opened #121 "Wrap delete_users_by_email"
It does not look like [`delete_users_by_email`](https://auth0.com/docs/api/management/v2#!/Connections/delete_users_by_email) (aka "Delete a connection user") is currently wrapped by this library.

[2018-09-07 13:41] lbalmaceda commented on #121
No, it's not currently available. Following this project's structure the new method should be located in the [connections](https://github.com/auth0/auth0-python/blob/master/auth0/v3/management/connections.py) client. Do you want to make a PR? If not I'll add it to the backlog and we will evaluate with the team.

[2018-09-07 20:44] cancan101 commented on #121
I don't have time right now to PR this.

[2018-09-30 19:03] runz0rd commented on #121
mind if I steal this?

[2018-10-01 13:55] lbalmaceda commented on #121
@runz0rd go ahead ! 🥇

[2018-10-02 02:53] lifez commented on #115
Can I contribute this?

[2018-10-02 13:44] lbalmaceda commented on #115
@lifez go ahead!

[2018-10-04 14:09] CDyWeb commented on #101
Fixed by https://github.com/auth0/auth0-python/commit/df71f3daba55fdb2ecfbba8bc9296492283463d3

[2018-10-05 02:16] d3vil0p3r commented on #115
@lifez is this issue taken?

[2018-10-05 02:17] lifez commented on #115
Yes I’m working on it

[2018-10-05 02:17] d3vil0p3r commented on #95
@lbalmaceda can I take this?

[2018-10-05 02:53] d3vil0p3r commented on #100
@lbalmaceda can I take this? If you allow I will proceed with asking my queries regarding this.

[2018-10-05 13:34] lbalmaceda commented on #100
@d3vil0p3r shoot 👍

[2018-10-06 05:44] d3vil0p3r commented on #100
@lbalmaceda awesome, so in `user_metadata` the end user can put in any key-value pair while signing up specific to their application in which they are implementing Auth0, right?

[2018-10-08 17:36] lbalmaceda opened #136 "Missing Telemetry for Authentication class"
We use Telemetry headers to measure the versions of the SDKs that are currently in use. I found out that for Authentication API calls, the headers are not sent in comparison to the Management API calls. I think the change needs to go into the [authentication base](https://github.com/auth0/auth0-python/blob/master/auth0/v3/authentication/base.py) class, following what is currently present on the ma

[2018-10-08 18:03] lbalmaceda commented on #100
The `user_metadata` is a special place were devs can store key-value information. There are some limitations you should be aware of, you can read them here https://auth0.com/docs/metadata#rules-on-naming-metadata-fields. Anyway, the server will validate the data you send so ultimately is up to the dev who call this method to send a well formed payload. There's a similar field called `app_metadata`

[2018-10-16 03:40] prabhupant opened #143 "Dockerfile name not correct"
The name 'dockerfle' should be 'Dockerfile'.

I've made a PR for this. Please review

[2018-10-16 03:47] prabhupant opened #144 "Corrections in readme"
Some grammatical corrections in readme. Also python3 installation.

I've made a PR for this. Please review.

[2018-10-19 00:43] Chovin opened #149 "raw markdown link in README"
wrong syntax for link in [README.rst#installation](https://github.com/auth0/auth0-python/blob/b5cb3e3b7a21d9ce14d5ab6addd7e63736454b33/README.rst#installation)
![image](https://user-images.githubusercontent.com/17536161/47191596-b7a8ad80-d38b-11e8-95cf-83f9fb9c4d49.png)

[2018-10-22 18:30] #149 closed

[2018-10-25 23:41] goodspark opened #162 "Add helper utilities to do token verification"
Hi,

I've been following the docs on how to use the management API. I got to https://auth0.com/docs/api-auth/tutorials/verify-access-token and had to implement the token verification stuff myself.

My use case right now is:
- Get token
- Verify token
- Manage users

auth0's Python library is already providing most of the flow for me with the exception of the verification step.

It'd be super helpf

[2018-10-26 22:43] MiniMarvin commented on #162
So you want an automated token verification, right?

[2018-10-26 23:55] goodspark commented on #162
Correct. Please let me know if that's a Really Silly Idea. Maybe it is!!

[2018-11-06 16:18] #76 closed

[2018-11-06 19:40] ShawnClake commented on #162
Hi @goodspark, I'm entering the realm of Auth0 myself and was wondering if you had built a function or two for the use cases you outlined. If so, any chance you could share them with me? Thanks in advance.

[2018-11-06 21:31] joshcanhelp commented on #162
@goodspark - This is definitely something we want in here and have it started in #120. The main thing we're concentrating on is ID tokens but the methods should be usable with Management API tokens as well. If you'd like some guidance on how this can be done, I would take a look at that PR.

Thanks for the question here! We'll leave this open until that PR is merged.

[2018-11-06 21:33] #121 closed

[2018-11-06 21:33] joshcanhelp commented on #118
No activity.

[2018-11-06 21:33] #118 closed

[2018-11-06 21:35] joshcanhelp commented on #117
Thanks for the report @va17! @rubelw is working on this in #160. I'll leave this open until that one is merged.

[2018-11-06 21:36] joshcanhelp commented on #115
Any news on this one @lifez? Thanks in advance!

[2018-11-06 21:36] joshcanhelp commented on #104
No activity.

[2018-11-06 21:36] #104 closed

[2018-11-06 21:37] #101 closed

[2018-11-06 21:43] #95 closed

[2018-11-06 21:44] joshcanhelp commented on #84
Addressed in #96

[2018-11-06 21:44] #84 closed

[2018-11-06 21:45] joshcanhelp commented on #61
No activity

[2018-11-06 21:45] #61 closed

[2018-11-06 21:46] larkost-fetch commented on #95
@joshcanhelp Is this closed because it was fixed?

[2018-11-06 21:46] joshcanhelp commented on #54
Long delay in response but this SDK will interact with an Auth0 API regardless of where it's deployed.

[2018-11-06 21:46] #54 closed

[2018-11-06 22:04] joshcanhelp commented on #95
@larkost-fetch - I didn't check with the server team on whether this was fixed on their end or not but it's not related to this SDK, as you said, and I think keeping it open is a bit confusing (see the comment above).

[2018-11-07 17:51] lbalmaceda commented on #95
@larkost-fetch Rest assure this is tracked and will be fixed soon. But like @joshcanhelp mentioned, the message response is given to this SDK by the server.

[2018-11-07 18:03] #136 closed

[2018-11-23 19:20] lbalmaceda commented on #102
@wbashir Is this still happening? What does the error message say?

[2018-11-27 18:13] #115 closed

[2018-11-28 07:16] ziaul-haque opened #171 "Issue with create_email_verification with python 2.7"
Hi there,

We are using auth0-python==3.2.2 so long time and thank you very much.

Recently we are facing an issue with create_email_verification method during fresh ticket generation.

We would like to change the validity of the token but it's not working for us. We have tried with ttl_sec as 600 in secs but token is valid after that period. We have log a issue on auth0 but they didn't find any
i

[2018-11-28 15:21] lbalmaceda commented on #171
@ziaul-haque the request payload looks fine and it shouldn't fail. In any case, this is not an issue from this SDK but from the API itself and you should contact support via https://support.auth0.com. You mentioned you have reached them and have not received a confirmation of the issue. Do you have a ticket number to share?

[2018-11-28 20:49] mathiesonsterling opened #172 "Linked docs on GitHub return 404"
As it says . . . . getting 404s for the following linked docs.

https://auth0.com/docs/api/management/v2/tokens
https://auth0.com/docs/api/management/v2/tokens#1-create-and-authorize-a-client

[2018-11-28 20:51] mathiesonsterling opened #173 "Example scripts require further setup on Auth0"
Following the docs here, wind up with a simple script doing . . . .
[code]

However out of the box, with a new Auth0 service, get_token.client_credentials gives
`
 auth0.v3.exceptions.Auth0Error: 403: Client is not authorized to access "https://
DOMAIN/api/v2/". You might probably want to create a "client-grant" associated to this API. See: https://auth0.com/docs/api/v2#!/Client_Grants/post_client

[2018-11-28 20:54] lbalmaceda commented on #172
Thanks! we're aware. You can stay up to date in the http://status.auth0.com/ page.

[2018-11-28 20:54] #172 closed

[2018-11-28 20:57] lbalmaceda commented on #173
@mathiesonsterling Assuming `domain` as a valid value other than `"DOMAIN"` you need to go to the [APIs](https://manage.auth0.com/#/apis/) section of the dashboard, find the one named `Auth0 Management API` and check in the `Machine to Machine Application` tab that the Application that you're using to call the authN server is authorized, which the right scopes allowed (clicking the arrow)

[2018-11-29 06:47] ziaul-haque commented on #171
@lbalmaceda Thank you very much for your response. Auth0 Ref Ticket# 00415222

Thanks again for your help.

[2018-11-29 16:19] lbalmaceda commented on #171
@ziaul-haque It came to my knowledge that the support ticket is still ongoing. I'll close this issue and let you continue the conversation in there.

[2018-11-29 16:19] #171 closed

[2018-12-17 10:40] akritiagarwal commented on #100
@lbalmaceda the auth0-python 3.4 version is still missing these updates. Can you suggest which version has these changes available?

[2018-12-27 19:11] lbalmaceda commented on #100
@akritiagarwal Sorry for that. I thought more PRs were going to be merged before my holidays 💃 I just released 3.5.0 with the changes in those 2 latest PRs.

[2019-01-04 15:40] #173 closed

[2019-02-27 23:10] d33tah opened #183 "auth0.v3.exceptions.Auth0Error: 400: You are not allowed to use search_engine=v1."
### Description

I'm trying to list users using this library. Here's my interactive session:

[code]

I'm surprised to find v3 in the error message and search_engine=v1 in the error message.

### Prerequisites

- [x] I have checked the [README documentation](https://github.com/auth0/auth0-python/blob/master/README.rst).
- [x] I have checked the [Auth0 Community](https://community.auth0.com/) for r

[2019-02-27 23:11] d33tah commented on #183
This worked:

[code]

Still, it would be much better for this to be default if it doesn't affect only me.

[2019-03-04 13:06] hzlmn opened #184 "Async transport support"
## Description
Hi, async programming rapidly growing in usage so i am wondered do you consider adding async transport (asyncio/aiohttp) to this library?

[2019-03-07 20:04] lbalmaceda commented on #183
The default I found in the code is v1 and was deprecated a long time ago. In fact, v2 was deprecated on June and some tenants already can't make use of it. This should definitely change but I'm not sure how would that affect existing users that don't specify a version (but still have it enabled for the tenant, as they might have a really old tenant). Is it v2? v3? Maybe we shouldn't send anything

[2019-03-07 23:30] lbalmaceda commented on #184
Is not in our backlog, no.
But feel free to drop your feedback or ideas here https://auth0.com/feedback so this reaches the product team. Thanks

[2019-04-04 15:34] lbalmaceda commented on #183
Default value will be removed in next version 👍

[2019-04-04 15:34] #183 closed

[2019-04-16 13:21] jbronstein opened #189 "rotate_secret should be a POST"
I'm new to Auth0, so I could definitely be missing something here. I was testing the **clients.rotate_secret** function and noticed it was using a GET request and returning a 404.

https://github.com/auth0/auth0-python/blob/master/auth0/v3/management/clients.py#L135

Based on documentation here, I think this is meant to be a POST.

https://auth0.com/docs/api/management/v2#!/Clients/post_rotate_sec

[2019-04-16 13:36] lbalmaceda commented on #189
Thanks! @jbronstein It's definitely a `POST`. Do you mind pushing a PR with the change? If so, remember to also update the tests here https://github.com/auth0/auth0-python/blob/e09d69d440362a511d0de3ae7ef90d9a7d950b7b/auth0/v3/test/management/test_clients.py#L122.

[2019-04-16 14:29] jbronstein commented on #189
👍 Just made the update, but it looks like I don't have permissions to push anything up to this repo

[2019-04-18 00:22] Sytten commented on #82
Could Auth0 prioritize that, it's an easy why for not much effort.

[2019-05-02 18:39] lbalmaceda commented on #189
You need to fork this repo into your own account, commit and push the changes to this remote instead of yours. I'll make that for you as it's quicker.

[2019-05-02 20:25] #189 closed

[2019-05-10 17:46] jhunken opened #194 "rules_config.unset does not work"
### Description

`rules_config.unset` does not work. It returns a 404 for a known existing key. I believe this is because the `key` param is being passed to the auth0 api as a query param when it should be a path param according to the docs.

https://auth0.com/docs/api/management/v2#!/Rules_Configs/delete_rules_configs_by_key

### Prerequisites

- [x] I have checked the [README documentation](http

[2019-05-10 18:04] #194 closed

[2019-05-10 18:04] lbalmaceda commented on #194
Thanks!

[2019-06-26 13:25] cordery opened #200 "3.8.1 changelist omits breaking change"
In commit 4a7d304 the return type of AuthenticationBase.get is changed from json to a dict, so for example Users(AUTH0_DOMAIN).userinfo() now returns a dict instead of json.  This is a breaking change and should definitely be in the changelog.

[2019-06-27 16:49] BasilaryGroup opened #201 "Does auth0-python need to be restricted to package requests >= 2.22.0?"
### Description

Version 3.8.1 has a restrictive dependency upon requests >= 2.22.0 (see https://github.com/auth0/auth0-python/commit/0c5634c6e087e51a870283fabc4cf72d85501c8c). I now have conflicts with other Python packages such as awsebcli 3.15.2 (Amazon Web Services Elastic Beanstalk CLI) which is limited to request <2.21, >=2.20.1.

Have their been changes to auth0-python 3.8.1 that force it t

[2019-07-28 20:09] sashasimkin commented on #201
@lbalmaceda can you please share some insight on this?

[2019-07-31 19:49] lbalmaceda commented on #201
Hi @BasilaryGroup @sashasimkin. We took the opportunity to bump that value to the latest minor release fixing license and security vulnerabilities that were reported by our compliance tools and are now fixed. Assuming we all follow [semver](https://semver.org) there should be no issue with us bumping anything but the major version of a dependency. In any case, I think we can lower the minimum back

[2019-07-31 20:06] lbalmaceda commented on #200
While I understand this could break those parsing the response on their own, the method was not behaving as expected and it was a bug that we did not catch in the past. Apologies for the lack of communication.

I've added a note to the changelog file and tagged it as Breaking Change for more visibility.

[2019-07-31 20:10] #201 closed

[2019-07-31 21:22] #200 closed

[2019-08-20 07:46] kornicameister opened #207 "Dropping support for old Pythons"
### Description

`auth0-python` enumerates a lot of Python versions that are quite old.
For instance:
- `2.x` - that's coming to its EOL with the end of the year
- up to `3.4` - that's also EOL now

### Prerequisites

- [x] I have checked the [README documentation](https://github.com/auth0/auth0-python/blob/master/README.rst).
- [x] I have checked the [Auth0 Community](https://community.auth0.com/

[2019-08-20 07:59] kornicameister opened #208 "Adding typings"
# Description

It would be quite useful for this library to support Python with type hints.
An obvious benefit is that users of the library, if using `mypy` or similar, are able to verify that they are using library in correct way, avoiding situations like:

- typos
- input data mismatch
- output data mismatch

There are 2 ways to do that:
- resolving #207 first and baking annotations directly int

[2019-09-18 16:30] BasilaryGroup commented on #201
Sorry for the late response. Moving the dependency to >=2.14.0 works great for us. Thank you!

[2019-10-26 19:19] goodspark commented on #82
I don't think this should be closed.

[2019-10-28 15:17] Sytten commented on #82
Yeah I didn't have the time to work on the PR for that issue, we fixed it in our project by setting a global requests timeout.

[2019-11-02 04:22] #42 closed

[2019-11-02 04:22] #119 closed

[2019-11-02 04:22] #162 closed

[2019-11-02 04:22] #117 closed

[2019-11-02 04:22] #102 closed

[2019-11-02 04:22] #184 closed

[2019-11-25 08:32] #207 closed

[2019-11-25 08:32] #208 closed

[2020-01-27 20:20] goodspark commented on #82
This stale bot is kinda incentivizing the wrong thing.

[2020-01-27 23:17] Sytten commented on #82
I will get to fix my PR sometime this month

[2020-04-06 00:26] tmrietz opened #210 "Include send_completion_email option for user import job requests"
The management API specifies a boolean parameter `send_completion_email` for import job requests that defaults to true, but this library does not allow that to be explicitly set to false.

In our case, roughly 1000 users fit into a single job's size limit. If I want to bulk import 100,000 users, I might not want 100 emails sent to me _and_ all of the other tenant admins.

The `import_users` method

[2020-04-22 05:20] markbenepass opened #212 "users.delete returns empty string when successful, also when not successful"
### Description

New to Auth0, getting familiar with the management API. Been creating & updating users. Went to delete a user, and ran into apparent bug when on successful delete the Python SDK returns an empty string, with no indication of HTTP 204. So success is ambiguous. Is this expected behavior?

### Reproduction
Using latest version from pip, shows as 3.9.1
`from auth0.v3.management import

[2020-04-27 03:29] Sytten commented on #82
Not stale

[2020-05-07 22:49] lbalmaceda commented on #212
check the `rest.py` file at the bottom there are some custom Error and Response classes. I'm not sure why the methods are private but those seem to expose the `status_code` of the response.

[2020-05-08 03:42] markbenepass commented on #212
Thanks for the tip, will check out

[2020-06-10 06:32] ShaynaFishman opened #218 "Auth0 for Django App on iOS causes application to download html instead of render"
By submitting an Issue to this repository, I agree to the terms within the [Auth0 Code of Conduct](https://github.com/auth0/open-source-template/blob/master/CODE-OF-CONDUCT.md).

It was suggested I open this issue by the Auth0 Community. See my question here: https://community.auth0.com/t/auth0-for-django-app-on-ios-problem/44349

### Description

I have a django web application that implements au

[2020-06-14 07:10] ShaynaFishman commented on #218
I have narrowed the issue down to this: If I require login through auth0 and pass a context in the view the application has the behavior described above. If I don't require login, passing a context is no problem.  If I don't pass a context, requiring login through auth0 is no problem. Again this issue only exists on iOS devices.

[2020-06-17 06:17] ShaynaFishman commented on #218
Here was my mistake / here's the solution:
In the Auth0's Django SDK, they show that you should pass in what I thought was an extra parameter for auth0:
{
        'auth0User': auth0user,
        'userdata': json.dumps(userdata, indent=4)
    }
I also added my own context in the return statement of the view like this:
return render(request, 'mypage.html', context, { 'auth0User': auth0user, 'userdat

[2020-06-17 06:17] #218 closed

[2020-06-24 19:18] lbalmaceda commented on #212
Where you able to confirm if it was a 204?

[2020-06-24 19:20] lbalmaceda commented on #82
The timeout parameter should already be present and used in the get/post methods. https://github.com/auth0/auth0-python/blob/master/auth0/v3/authentication/base.py#L17-L20

[2020-06-24 19:20] #82 closed

[2020-06-24 23:00] #210 closed

[2020-06-25 02:35] markbenepass commented on #212
Just checked again, using the following:

`delete_user = auth0.users.delete("auth0|user_id_here")`

`type(delete_user)` = <class 'str'>
`print(delete_user)` = empty string

Given the return is a string object, the attributes of a response object won't seem to help here, unless I'm making a mistake

[2020-06-25 13:20] lbalmaceda commented on #212
Right. I checked it yesterday and successful responses return the body object and not the response object. You won't be able to access things such as the headers or the status code.
Regarding the deletion of users, I imagine it takes some time for the change to impact the databases and that's why the following response has the same result. If the server rejected the request, an `Auth0Error` except

[2020-06-29 21:18] guillp opened #224 "Missing Hooks API"
The Hooks API (including Hooks Secrets) is missing from this library.

The API doc: https://auth0.com/docs/api/management/v2#!/Hooks/get_hooks

Rgds,

[2020-06-30 13:18] lbalmaceda commented on #224
Thanks for raising this @guillp. We're tracking it internally under `SDK-1760`, however, if you'd like to contribute feel free to open a PR. We will accept changes that are unit tested.

[2020-07-02 00:09] meatbody opened #225 "Incorrect docstrings for SymmetricSignatureVerifier/AsymmetricSignatureVerifier"
### Description

The default algorithms mentioned in the docstrings for the SymmetricSignatureVerifier/AsymmetricSignatureVerifiers are backwards: SymmetricSignatureVerifier's default is HS256 but the docstring says RS256, and the reverse is true for the AsymmetricSignatureVerifier.

They're also missing docs for two of their respective required args: `shared_secret` for the SymmetricSignatureVeri

[2020-07-03 08:42] guillp commented on #224
@lbalmaceda : here is my PR for review

[2020-07-03 19:23] #225 closed

[2020-07-04 05:01] dbinetti opened #228 "Database Signup requires username even when optional"
### Description

When using Authentication>Database>Signup

If my database does not require a username, then allow username=None.

### Reproduction

[code]

### Environment
auth0-python 3.11.0
django 3.0.8
Mac, etc.

[2020-07-04 19:28] ferozsalam commented on #228
I am also seeing this issue, but the problem seems to be in the underlying REST API rather than the Python library itself - the library makes the request to Auth0 servers just fine but then gets a 400 response code back from the API server.

[2020-07-04 20:16] dbinetti commented on #228
Yes, that's correct -- it is a server-side API issue.  The API does ignore the username param if it is not set on the API config itself, so it's more of a nuisance than anything else.  But it will trip up people that don't investigate thoroughly, so the docs needs to be adjusted at least.

[2020-07-04 23:22] dbinetti opened #229 "Add root name support to signup method"
### Describe the problem you'd like to have solved

As a developer, I'd like to be able to set the root `name` field on account creation.

### Describe the ideal solution

[code]

## Alternatives and current work-arounds

You can update the user instance afterwards (as a second-call).

[2020-07-06 19:19] lbalmaceda commented on #229
I see `name` is part of some user profile properties available on the API https://auth0.com/docs/api/authentication#signup. Would it make sense to add an argument `user_profile` with default `None` that we would later extract each of the allowed values and create the request?

[2020-07-06 19:29] lbalmaceda commented on #228
The way the Python Requests API work is this. When you set one param to `None`, it's not going to be added to the request body. If you check the tests we have for this endpoint, we're ensuring the default value of None is passed to the networking library if you don't specify a value for `username`. The request is being created correctly.

https://github.com/auth0/auth0-python/blob/master/auth0/v3/

[2020-07-06 19:34] ferozsalam commented on #228
This isn't the behaviour I'm seeing - I definitely have the 'Require username' option turned off (I just checked) and I'm still seeing the request failing if I don't provide a username.

[2020-07-06 19:41] dbinetti commented on #229
Yes, I think that makes good sense.

[2020-07-06 19:44] dbinetti commented on #228
@lbalmaceda Thanks for responding.  If you're not able to replicate then perhaps I'll look a bit closer, but I think if you try it yourself you'll see the behavior I described in my original post.  Check out Line 11 and then the response on Line 17.

[2020-07-06 19:51] ferozsalam commented on #228
For some more context this my function:

[code]
This is the response that I get if I don't provide a username (as above):

[code]
To fix this, I only need to add `username = email` to the parameters I pass to the `signup()` function, and the function completes successfully.

I have attached an image to confirm that the 'Requires Username' option is turned off in my database settings:
![username](h

[2020-07-06 22:16] lbalmaceda commented on #228
I just verified the [docs](https://requests.readthedocs.io/en/master/user/quickstart/#passing-parameters-in-urls) and the code and it seems the behavior I explained above only applies to query parameters, not params that conform the body.
The fix would be checking for the parameter presence before adding the optional values to the data/body dictionary. This would apply to most of the POST requests

[2020-07-07 13:06] lbalmaceda commented on #229
I checked with the team. Given that we're already using half of the parameters supported by the API, we could add the remaining ~5 with a default value of `None` (as username). That way it's simpler to invoke (doesn't require an extra dict) and you can send only what you need.

Would you send a PR for us to review?

[2020-07-07 13:32] dbinetti commented on #228
I’ll give it a shot
On Jul 6, 2020, 15:16 -0700, Luciano Balmaceda <notifications@github.com>, wrote:

[2020-07-07 13:32] dbinetti commented on #229
Sure, I’ll give it a shot
On Jul 7, 2020, 06:06 -0700, Luciano Balmaceda <notifications@github.com>, wrote:

[2020-07-07 19:30] lbalmaceda commented on #228
@dbinetti Thanks! I actually fixed this in the last hour and will be posting a PR soon.

[2020-07-07 19:31] ferozsalam commented on #228
@lbalmaceda thanks very much!

[2020-07-07 21:00] lbalmaceda commented on #229
I also added a PR for this

[2020-07-08 01:43] dbinetti commented on #228
Awesome —. Sooooooooooooo fast
On Jul 7, 2020, 12:32 -0700, Feroz Salam <notifications@github.com>, wrote:

[2020-07-08 01:52] dbinetti commented on #229
Love it!
On Jul 7, 2020, 14:00 -0700, Luciano Balmaceda , wrote:

[2020-07-08 17:07] #229 closed

[2020-07-08 17:27] #228 closed

[2020-07-13 17:26] #224 closed

[2020-07-22 02:53] mwgamble opened #234 "Docs not available [SDK-1942]"
### Description

The docs for this library are not available on the Auth0 website, where documentation for libraries in other languages are present.

https://auth0.com/docs/libraries

[2020-07-22 21:38] lbalmaceda commented on #234
Hey, 👋  That's correct, this library does not have a dedicated docs article in the Auth0 site. The basic usage is explained in the readme. Was there a specific use case you needed help with?

[2020-07-23 01:52] mwgamble commented on #234
What's the point of the `docs` directory then?

https://github.com/auth0/auth0-python/tree/master/docs

At the moment, no, because it's very difficult to get an understanding of what the library is capable of at all without published documentation. If I can't tell what the library is capable of at a high level I wouldn't know where to start drilling down to find more details, and therefore have no

[2020-07-23 20:05] lbalmaceda commented on #234
I guess at some point there was an intent to upload them somewhere (e.g. readthedocs.org) but that never happened. I can share with you that we do have a task to host the libraries generated docs but that is targeted for Q4.

The library is built on top of python-requests and has some custom networking classes to handle the response deserialization or any network errors that might occur. As with t

[2020-08-28 14:40] lbalmaceda commented on #212
Closing this as already clarified the SDK behavior.

[2020-08-28 14:40] #212 closed

[2020-09-03 17:42] beck3905 opened #240 "Add X-Forwarded-For header to Get Token requests [SDK-1941]"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Your attention to detail here is greatly appreciated and will help us respond as quickly as possible. For general support or usage questions, use the [Auth0 Co

[2020-09-03 18:48] lbalmaceda commented on #240
@beck3905 As I read the above, I understand you are in a way "proxying" the authentication through your API between the user and auth0. And probably what would be best, in that case, is having the user to authenticate first on its own, asking for the `audience` of your API identifier, and then using their received access token to reach our to your API. Can you add more context around your use case

[2020-09-03 18:58] beck3905 commented on #240
@lbalmaceda What you described is correct.  I have my own `/oauth/token` endpoint on my API that proxies to Auth0 and uses the auth0-python library `auth0.v3.authentication.GetToken` class to do it.  We use this for our customers to access our API's directly rather than through a web application (we have those too and they login using the hosted pages).  The proxy endpoint serves a couple of purpo

[2020-09-07 18:43] lbalmaceda commented on #240
We're tracking this internally as `SDK-1941`.

[2020-09-08 18:18] remi-debette commented on #42
Hi, I just encountered Rate limit issues with the Library.

Would you have a hint on how to tackle this in the library today?

Thank you

[2020-09-08 19:45] lbalmaceda commented on #42
👋  @remi-debette I don't know if the persons above can share their implementation, but the issue today is the library doesn't return the "response object" with the information. The only thing that is returned is the parsed response body. So any rate-limiting implementation, that doesn't introduce breaking changes, needs to happen internally in some sort of throttling logic that reads those headers

[2020-09-08 20:07] remidebette commented on #42
(Other account but same perspn)
Indeed, as today the library raises exceptions in the case of Rate limit reached, my understanding is that there is no such mechanism internally and that we are forced to retry after the fact

[2020-09-08 20:42] lbalmaceda commented on #42
Correct, there's no automatic handling or exponential backoff strategy.

The formatting in the readme is a bit broken, but each request could fail with any of these 3 exceptions listed there https://github.com/auth0/auth0-python#error-handling. You could try/catch this particular `RateLimitError` type and retry after some seconds.

[2020-09-23 21:00] StigKorsnes commented on #234
Hi there  @lbalmaceda :)
Testing the database module, however hit a 404 on first attempt. Guessing it`s the oauth/ro endpoint that has been deprecated?
A simple hack with replacing oauth/ro with the token endpoint oauth/token does the trick, but I also need to include client_secret with this one. Additionally I`m using audience claim (my api identifier) in order to get a JWT to work with (validati

[2020-09-25 14:29] lbalmaceda commented on #234
@StigKorsnes I'm not the author of the SDK but I think they originally wanted to nest all "username and password" endpoints in there and later figured out it was better to put all the `/oauth/token` routes together in a separate file. The database module as of today should only be used for username/password sign up on auth0 database connections and for sending the email to request a password chang

[2020-10-01 10:04] michaldev opened #242 "Getting info about JWT user"
How Can I check information about authorized users? Like username, and others?

I've created/copied this code:
[code]

It works nice, but in the documentation doesn't exist any example with the real use case of this. I search in the code of the library and I find Users class, but tokenInfo() method is deprecated (why?) and in userInfo JWT token doesn't work.

Users(domain=domain).tokeninfo(id_toke

[2020-10-01 19:36] lbalmaceda commented on #242
The ID token already contains the user information in its payload. But before accessing that, you should first verify its precedence and that's where you use the `TokenVerifier` class which would throw an exception if something is invalid.
The next step would be using a JWT decoding library to access the payload of that ID token. You can inspect the ID token in a site like jwt.io to understand wha

[2020-10-01 21:09] michaldev commented on #242
But from can I get access token for "user info"?
On https://my-id.auth0.com/oauth/token endpoint I receive only one token - JWT-token.

[2020-10-01 22:16] lbalmaceda commented on #242
There are many variables that can change what you receive. Can you show me the code you're using to authenticate a user, please?

[2020-10-02 08:23] michaldev commented on #242
![Zrzut ekranu z 2020-10-02 10-24-40](https://user-images.githubusercontent.com/5132385/94902921-40e21d80-0499-11eb-85d4-866e0e9a3e72.png)

[2020-10-02 10:16] StigKorsnes commented on #242
@michaldev
If you open your application in auth0 dashboard and go to advanced settings at the bottom, there is a tab of endpoints.
You use the provided acceess_token you already have with the user info endpoint. Note that it is a requirement that openid is included as a scope in order for the /userinfo endpoint to work.

[](https://auth0.com/docs/api/authentication?_ga=2.192142637.627307510.160155

[2020-10-02 10:28] michaldev commented on #242
Maybe auth0 isn't for me.
I have a simple use case. I would like to authorize my users in my mobile application written in a flutter. I would like to show them popup (webview) for login and full option (register, forgot password, social auth) and backend (in python/fastapi) should know who is authenticated.

For using auth0 I take a decision because (propably) I don't need to use multiple native l

[2020-10-02 10:58] michaldev commented on #242
[code]

[2020-10-02 13:16] lbalmaceda commented on #242
Let me explain it briefly, although I encourage you to watch the [identity labs](https://auth0.com/docs/videos/learn-identity-series/calling-an-api) Auth0 published. The idea is that your mobile app first gets the access token, and using it then calls your backend/API.

**From the mobile app**, you should be performing a "Code + PKCE" flow ([read more about this flow here](https://auth0.com/docs/f

[2020-10-02 14:43] michaldev commented on #242
Authorization with PKCE is failed.

![Zrzut ekranu z 2020-10-02 16-43-58](https://user-images.githubusercontent.com/5132385/94936336-62113100-04ce-11eb-984e-1a7c6358ac49.png)

![Zrzut ekranu z 2020-10-02 16-41-15](https://user-images.githubusercontent.com/5132385/94936358-6a696c00-04ce-11eb-8dd7-c65b4c3da465.png)

[2020-10-02 17:01] lbalmaceda commented on #242
I suggest you first follow one of the mobile app quickstart to understand how the authentication is achieved https://auth0.com/docs/quickstart/native.

Once you are able to authenticate and have your access token, then move the attention to the backend / m2m https://auth0.com/docs/quickstart/backend.

[2020-10-02 17:23] michaldev commented on #242
There is not available example for Flutter. Is available one example on any auth0 blog, but with library which doesn't support Web and desktop.

I must implement it from scratch.

What is wrong with my request on screen?

[2020-10-02 17:57] michaldev commented on #242
I can get access token with other method (without PkCe). But as in post - this verification proces very well, but I don't know how can I use this for getting info about user.

[2020-10-02 18:11] lbalmaceda commented on #242
@michaldev you are creating an issue in the auth0-python SDK about a Flutter mobile app that is not working for you... I cannot help you with that, but you can try with the [community](https://community.auth0.com/t/get-started-with-flutter-authentication/45986/25). What I put above is general guidance and usage for any mobile scenario.

If we forget for a minute about mobile apps and assume that y

[2020-10-02 18:17] michaldev commented on #242
But I must getting user informations on backend (python) side. As I writed - if I sucessed get user token (without pkce) i can't get user info in python script, because tokenInfo is deprecated.

userInfo method doesn't work.

[2020-10-05 07:43] StigKorsnes commented on #234
@lbalmaceda Thanks. Still, the oauth/ro endpoint is depcrecated (and says so in the docs). Is the package being maintained?

[2020-10-05 08:13] StigKorsnes commented on #242
@michaldev I`m not a contributer to the package, nor a seasoned developer, so please don`t take my comments as official guidelines. I`ve been struggeling a couple of weeks with the docs and playing around with the various settings in the tennant dashboard. The more I work with it, the more I like it, and don`t think auth0 in anyway is to complex for you use-case. I am using a fast-api backend, as

[2020-10-05 11:27] StigKorsnes opened #243 "TokenVerfier"
Hi,
Is the TokenVerifier class only for use with id tokens? I see mostly TokenValidation error messagees referring to Id tokens in the code, but can not see why I would not want to validate claims for the access token also (i.e expiration). I have tested it on an access token, which work if I only have a single audience. If I have a list (say my api +/userinfo which is autmatically included when s

[2020-10-05 22:11] michaldev commented on #242
I was able to get a PKCE token.

I got response like this:
[code]

The access token and id token do not match what the function returns verify('').

[2020-10-06 18:10] michaldev commented on #242
This is weird. When I set scope to openid I get access_token and id_token but if I try logged with them I got error:
`web_1    | auth0.v3.exceptions.TokenValidationError: Authorized Party (azp) claim mismatch in the ID token; expected "https://appaddress.com", found "3he3K4UasIj4in2RKi6000000". `
(But I entry app id when it is required)

When I change only scope from openid to sub I got only acces

[2020-10-10 16:10] michaldev commented on #242
Maybe problem is in two audiences? Python-auth0 supports two audiences?

[2020-10-10 17:45] michaldev commented on #242
There is details: https://vimeo.com/user106988912/review/466912574/e8e08ef69e

[2020-10-13 11:22] StigKorsnes commented on #242
@michaldev
The codebase and readme indicates that TokenVerifier is aimed for ID Tokens only. In addition the docstring says it verifies according to an openid spec. Given this, it might be a bit optimistic to assume it would work equally well for access tokens.  Mentioned this in my first post, and also raised an issue on this. Also suggested you use AsymmetricSignatureVerfier alone, although this

[2020-10-13 12:06] lbalmaceda commented on #242
When the ID token has multiple audiences, the `azp` claim is added by the server and must be verified against the client id value. The ID token verifier accepts this value as the "audience" parameter. The ID token can have as many audiences as it needs, as long as the one you require is listed there and also matches the `azp` value. That's the error you are seeing above when you attempt to verify

[2020-10-13 15:37] lbalmaceda commented on #234
@StigKorsnes Why it wasn't removed from this SDK you ask? Doing so would pose a breaking change. So the way forward for this major is to deprecate it and discourage its usage. The next major will remove it, as breaking changes are allowed in new major versions.

The `/oauth/ro` is a legacy endpoint associated with a grant type no longer enabled by default. You [might be able to add it](https://aut

[2020-10-13 18:53] StigKorsnes commented on #243
@lbalmaceda May I ask what the different steps are? I have been using the AsymmetricSignatureVerifier for signature verification, and wrote some extra validations along the lines of what is done in the TokenVerifier for iat exp and some others. Have I been consuming tokens under a false sense of security? I have also seen the python example from the docs, and can not see why you would not want inc

[2020-10-13 19:14] michaldev commented on #242
This is not clearly "quickstart". Without my use case. That presents machine-to-machine (any client_credentials).

I've created now separated applications in my auth0 panel:
- WEB (machine to machine)
- Native

But I have problem too.
```auth0.v3.exceptions.TokenValidationError: Audience (aud) claim mismatch in the ID token; expected "fYAWWX04VdjZdj4LtKvnEqFaLlnD92fb" but found "3he3K4UasIj4in2RKi

[2020-10-13 20:20] lbalmaceda commented on #242
Don't use the ID token verifier in your backend. The backend API should not receive an ID token from the mobile app, only an access token.

[2020-10-13 20:23] lbalmaceda commented on #234
@StigKorsnes I haven't tried, but it might be possible to add a legacy grant through the [Management API](https://auth0.com/docs/api/management/v2/#!/Clients/patch_clients_by_id). The server might reject the request if your tenant is too new and doesn't accept legacy grants.

[2020-10-14 17:51] michaldev commented on #242
Verification by access_token returns error the same like id_token.

[2020-10-14 19:08] StigKorsnes commented on #242
@michaldev He is saying DON`T use TokenVerifier.verify for anything else than validating id tokens.

`from auth0.v3.authentication.token_verifier import AsymmetricSignatureVerifier
from auth0.v3.exceptions import TokenValidationError
from fastapi import HTTPException,status
signature_verifier=AsymmetricSignatureVerifier(jwks_url=jwks_url)
def validate_token(access_token:str=Depends(callable_that_r

[2020-10-14 19:41] michaldev commented on #242
It works, but this is secure? If I'm not compare token with auth0 server?

[2020-10-14 20:33] StigKorsnes commented on #242
@michaldev Well, this is my reasoning (again as mentioned in the first post):
A TokenVerifier instance has an AsymmetricSignatureVerifier property (sv from the example). The TokenVerifier instance will, when you invoke verify first call sv.verify_signature to get the payload. If this does not raise an error, the signature is ok. After this step,  tv.Verify will then do checks on the claims accordi

[2020-10-30 14:16] lbalmaceda commented on #242
The `TokenVerifier` is only meant to verify ID tokens following the OIDC spec.

If your app is a backend app, and you receive a request that contains an access token, you must verify:
- the token algorithm ("alg") and signature
- the token expiration ("exp" claim)
- the audience ("aud" claim)

You could use the `SignatureVerifier` and the `JwksFetcher` classes if you want. Those expose one public

[2020-10-30 14:24] lbalmaceda commented on #243
There are SDKs focused on API access and authorization but there's no official auth0 python SDK for that. This SDK is an implementation of the Auth0 authentication and management APIs.

The checks you would want to do against an access token relate to the token signature (asserts token contents were not changed) and authorization level (audience / name of the API, scope granted to that person, etc

[2020-10-31 16:00] StigKorsnes commented on #243
Well, scopes are kind of endpoint specific so does not belong here. My point is that it should validate the standard claims, like audience and expiry. You explicitly turn of all but the signature verifcation part to jwt.decode, while jwt decode natiively support some of them.

[2020-10-31 16:00] #243 closed

[2020-12-11 14:34] dbinetti opened #249 "Any plans to add the "branding" resource?"
### Describe the problem you'd like to have solved

There is a branding resource at https://auth0.com/docs/api/management/v2#!/Branding/get_branding  Any plans to add it to the library?

[2020-12-13 21:40] #240 closed

[2021-01-15 00:37] mildmojo opened #251 "Database Resource Owner login function fails, calling a non-existent Auth0 endpoint"
### Describe the problem

The Python SDK fails to perform Resource Owner Password Flow database logins because it calls the non-existent endpoint `/auth/ro`. The Auth0 API docs say [this legacy endpoint is deprecated](https://auth0.com/docs/api/authentication#database-ad-ldap-active-) (apparently now removed), and clients [should use](https://auth0.com/docs/api/authentication#resource-owner-passwo

[2021-01-21 10:27] droriv opened #252 "email_login for Passwordless login"
### Describe the problem you'd like to have solved

currently, there's no option to verify the OTP created from `email()` at `v3/authentication/passwordless.py`

### Describe the ideal solution

`email_login()` just like the `sms_login()` to verify OTP sent by mail

## Alternatives and current work-arounds

Not aware of one

### Additional information, if any

[2021-01-25 17:08] stevehobbsdev commented on #249
Hi, thanks for raising and we appreciate your patience here. We would like to achieve parity across our management SDKs where possible, and this endpoint is something that we should add to this SDK. However, it is low priority and in the meantime you are able to interact with the REST API directly without having this direct support.

We have taken your feedback on board to see how we can improve t

[2021-01-25 17:08] #249 closed

[2021-01-28 21:58] garry-jeromson opened #253 "Allow configuration of outgoing request protocol"
Currently, only the tenant domain is configurable on the `AuthenticationBase` class; the protocol is hardcoded to HTTPS. (For example, here: https://github.com/auth0/auth0-python/blob/b88b056d0c68eb26a1171f33273010faf8fefe63/auth0/v3/authentication/get_token.py#L38).

This creates an issue when running integration tests, where we wish to have some kind of over-the-wire mock or imposter for the Aut

[2021-01-28 22:02] garry-jeromson commented on #253
As far as implementation goes, it'd be fairly simple: we could just update the `AuthenticationBase` class to have an additional parameter:

[code]

Derived classes (like the one mentioned in my original post) could then format their request URLs accordingly:

[code]

[2021-02-04 18:33] cledesma commented on #242
Hello! Any updates here? I can see that this issue is also present for the PHP token verifier, and the team fixed it here
https://github.com/auth0/auth0-PHP/issues/422
https://github.com/auth0/auth0-PHP/pull/428

Are we also fixing it for the Python client? I am having the same issues as @michaldev, and I am only following your documentation

[2021-02-12 09:58] lbalmaceda commented on #242
@cledesma we still don't have in the roadmap introducing a verifier for Access Tokens on the python SDK. What is your use case?

[2021-02-18 01:53] mwgamble commented on #234
Not sure why this was marked as stale. Did the documentation end up getting published as planned?

[2021-02-19 14:40] lbalmaceda commented on #234
@mwgamble generating the docs on release and publishing them got deprioritized. We're still tracking it internally SDK-1942. For now, please use your preferred IDE shortcut to open the associated pydocs.

[2021-02-19 14:54] lbalmaceda commented on #251
@mildmojo  I cannot find information or announcements on whether this was removed or not. I know it was deprecated in 2017 according to [this entry](https://auth0.com/docs/product-lifecycle/deprecations-and-migrations#resource-owner-password-oauth-ro-deprecation). The recommendation is to migrate to `/oauth/token` and use the password realm grant. We already support that endpoint from [this method

[2021-02-19 15:04] lbalmaceda commented on #252
Good catch. I'm happy to review a PR if you like to send one. Otherwise, I'm tracking this internally as `SDK-2336`.

For guidance, the code and unit tests look really similar to those from the [password realm login](https://github.com/auth0/auth0-python/blob/master/auth0/v3/authentication/get_token.py#L117-L165). And you can get the available parameters from this documentation https://auth0.com/d

[2021-02-20 20:14] mildmojo commented on #251
@lbalmaceda I think the `/auth/ro` endpoint is gone for me because I'm setting up a new application, as you suggest, and the SDK method still exists for legacy applications which may still have access to the deprecated endpoint?

The only docs I found for this python SDK were in this repo's README (which often links to auth0.com docs). In the "Authentication SDK Usage" section, there's an example

[2021-02-20 20:14] #251 closed

[2021-03-09 14:50] criles25 opened #257 "missing scope param in refresh_token"
### Describe the problem

Missing `scope` param in `refresh_token`.

Fixed by https://github.com/auth0/auth0-python/pull/256

[2021-03-29 11:21] lbalmaceda commented on #257
Thanks!

[2021-03-29 11:21] #257 closed

[2021-04-08 23:30] defied opened #264 "Send Password Change email to Users."
### Describe the problem you'd like to have solved

I would like to be able to use the API to send password-reset / change emails to users.

### Describe the ideal solution

Email should be sent to users who would then click link and reset their current passwords.

## Alternatives and current work-arounds
Curl.

[2021-04-12 06:57] redbaron opened #266 "Missing jwt dependency"
### Describe the problem

Missing `jwt` dependency

### What was the expected behavior?

### Reproduction

[code]

### Environment

- **Version of this library used:** 3.16.0
- **Which framework are you using, if applicable:**
- **Other modules/plugins/libraries that might be involved:**
- **Any other relevant information you think would be useful:** Ubuntu 20.04, Python 3.8

[2021-04-12 23:27] defied commented on #264
Is this repo still active?

[2021-04-19 01:56] queenvictoria opened #268 "Retrieving an existing organisation by name fails with error"
### Describe the problem

Retrieving an existing organisation by name fails with
[code]

### What was the expected behavior?

The function should return the requested organisation.

### Reproduction

1. Create a management app and retrieve credentials.
1. Grant management app `read_organizations` permission.
2. Create a new organisation (requires enterprise account) and store the organisation name

[2021-04-19 14:26] lbalmaceda commented on #268
Thanks for the detailed report! I have [cross-checked with the API docs](https://auth0.com/docs/api/management/v2#!/Organizations/get_name_by_name) and I've merged your contribution.

[2021-04-19 14:26] #268 closed

[2021-04-19 17:59] lbalmaceda commented on #266
Thanks, I was able to reproduce this in a virtual env. I'll remove the `requirements.txt` file and use `install_requires` instead.

[2021-04-22 09:57] #266 closed

[2021-04-25 11:25] bisguzar opened #272 "Returning boolean on token validator"
Hi,

I'm using the token validator of the authentication submodule. It's raising a TokenValidationError if validation failed and returning nothing (so the method returning None by python internals) if validation success.

I'm not sure is it a good idea. If I use this method inside an if condition and assume the token is valid the condition won't work. Because it will return None which is equal to

[2021-05-08 23:08] dmark opened #274 "Is get_results deprecated?"
### Describe the problem

Does `get_results` do anything? It doesn't seem to point to a valid mgmt API endpoint.

[code]

The link to the docs doesn't point to anything that actually exists. There's an associated test that point to `jobs/{id}/results` but that endpoint, if it exists, doesn't appear to be documented. For an export job you get the "results URL" from the `get()` call itself. Or is th

[2021-05-26 02:56] jjescobaruni commented on #252
Commenting here because I cannot find the answer yet... I am using this python SDK, how the authentication process could be triggered from this (using auth0 client), without the need to send the direct request. I would like to take advantage that the user has an otp configured to add a security layer to another process out of the application that uses the login

[2021-05-27 11:03] lbalmaceda commented on #274
Thanks for raising this. It appears that the `/job/{id}/results` endpoint is no longer supported on the API. This was a miss on our side.

Luckily, the Job status (and results) can be queried using the ["job by id"](https://auth0.com/docs/api/management/v2#!/Jobs/get_jobs_by_id) endpoint which is already exposed on this SDK [here](https://github.com/auth0/auth0-python/blob/master/auth0/v3/manageme

[2021-05-27 16:13] lbalmaceda commented on #272
Returning a boolean value would make it impossible to know what went wrong with the token verification (e.g. what check triggered the failure). The exception that is raised at least has a message describing the issue. I believe this should help while developing or debugging an app. It's probably not helpful during production, as token validation issues are typically related to a wrong configuratio

[2021-05-28 07:19] bisguzar commented on #272
Yes, I agree. My point was it is returning None even if all checks passed. I just updated my PR. And it's open for commits by contributors.

[2021-05-28 10:35] #274 closed

[2021-06-09 21:12] #242 closed

[2021-06-11 16:05] joberdick opened #277 "Checkpoint Pagination for Roles not supported"
### Describe the problem

Some pagination no longer works with recent update to Auh0 API's. One example is https://auth0.com/docs/api/management/v2#!/Roles/get_role_user

It now requires checkpoint pagination for over 1000 users, which the SDK does not support. Not sure if there are other cases of this, but this is only one I am aware of.

### What was the expected behavior?

To be able to query o

[2021-06-17 08:20] mwgamble commented on #234
For the second time, this should not have been marked as stale because it's still an issue. It's quite frustrating that I apparently have to monitor this every week in case stale bot decides it's time to speak up.

[2021-06-17 09:36] frederikprijck commented on #277
Thanks for reporting this and sorry for the inconvenience!

We are looking into this internally to see what has to happen in the different SDKs and how we can prioritize this.

We will get back to this as soon as possible with more information.

[2021-06-17 10:13] lbalmaceda commented on #234
@mwgamble Apologies for that, Stalebot is configured to close an issue after 3 months of inactivity in the thread, although it should ignore these types of issues.

I can share that this is still in our backlog (SDK-1942) but not yet prioritized over the other work we have there. If you are able to contribute a PR that can populate that /docs folder with every release of this SDK that we make, I'm

[2021-06-17 10:23] lbalmaceda commented on #264
Hey @defied, apologies for the delay. I believe the functionality that you want is already covered in the [tickets](https://github.com/auth0/auth0-python/blob/master/auth0/v3/management/tickets.py) entity. If that's not the cause, could you please expand a bit and share links to the specific MGMT API endpoints that you need to get access to? Thanks

[2021-07-27 13:17] evansims commented on #277
Hi @joberdick 👋  Thanks for your patience on this. This issue has been addressed with the addition of checkpoint pagination support in PR #278, and will be shipped in the next release. 👍

[2021-07-27 13:17] #277 closed

[2021-08-10 16:54] lbalmaceda commented on #252
I picked this up today and made another PR with the required changes to complete the authentication with `/oauth/token`.

The `/oauth/ro` endpoint is deprecated and shouldn't be used.

[2021-08-11 09:27] #252 closed

[2021-08-12 02:58] authereal commented on #242
Hi I've a similar use case as https://github.com/auth0/auth0-PHP/issues/422 and am wondering if a similar approach to the one that the PHP SDK went with can be used: https://github.com/auth0/auth0-PHP/pull/428.
Would you accept a PR for this?

[2021-08-13 08:50] #234 closed

[2021-08-13 12:28] jtemporal opened #282 "Token Verifier documentation not showing in docs"
<img width="485" alt="Screen Shot 2021-08-13 at 09 27 13" src="https://user-images.githubusercontent.com/6595551/129356909-508c45e5-e0d2-48ba-916b-dd9430418069.png">
As you can see in the image the token verifier docs isn't showing I believe is just because it is misplaced in the Class code, I'll open a PR for that ;)

[2021-08-16 09:46] #282 closed

[2021-08-19 15:51] bradydean opened #286 "Error messages should reference a generic signed token, not specifically the ID token"
The `SignatureVerifier` class is used to verify any signed token, not just ID tokens.
I think the error messages should reflect that.

https://github.com/auth0/auth0-python/blob/f6925b655bc0d299c7d7f6355b02ebb617fe605a/auth0/v3/authentication/token_verifier.py#L58-L67

[2021-09-04 23:11] #272 closed

[2021-09-26 19:12] #264 closed

[2021-10-01 23:11] jrzerr opened #292 "New actions not exposed on Auth0 class"
### Describe the problem

Actions was added in 3.18 but it is not exposed on the Auth0 class so you can't use it in the standard way where you would do:

[code]

you get an error:

AttributeError: 'Auth0' object has no attribute actions.

### What was the expected behavior?

auth0.actions would be the method to access the management api for actions

### Reproduction

[code]

you get an error:

Att

[2021-10-01 23:26] jrzerr commented on #292
A temporary workaround until my patch is merged in is to instantiate the `Actions` class yourself like:

[code]

Just initialize `Actions` with the same arguments you used when you initialize `Auth0`

[2021-10-05 16:19] lbalmaceda commented on #286
Thanks, I agree with the proposed changes. Is that something you'd like to contribute with your own PR? Otherwise, we can take it. It would imply updating the exception messages to use "token" instead of "ID token", and probably fix the tests that are checking those messages.

Let me know.

[2021-10-05 16:23] lbalmaceda commented on #292
Thanks for raising the PR. I left a review.

[2021-10-18 08:50] #292 closed

[2021-11-29 08:25] ca-simone-chiorazzo commented on #240
Hi, any news about the capability to set an `auth0-forwarded-for` header to the python SDK?

[2021-12-15 22:21] ca-simone-chiorazzo commented on #184
Any chance to get this feature in the roadmap? Majors python web frameworks support asyncio and at the moment the only way to use auth0-python is wrapping calls with a utility like the `sync_to_async` of [asgiref](https://pypi.org/project/asgiref/)

[2022-01-04 14:01] fionnulak opened #299 "Endpoint Paginated Queries not supported"
### Describe the problem you'd like to have solved

The following miration is about to occur: https://auth0.com/docs/product-lifecycle/deprecations-and-migrations/migrate-to-paginated-queries yet the SDK does not support passing pagination arguments.

### Describe the ideal solution

The ideal solution should allow for pagination parameters: `page` and `per_page` to be passed to the [endpoints aff

[2022-01-24 22:10] mrafaquat opened #302 "Using v3.19.0 unable to return all actions"
Hello
the following 2 return the correct actions

[code]

but if i want to see all actions the following returns no data
[code]

is this correct behaviour ?

[2022-02-18 10:22] ca-simone-chiorazzo opened #304 "AsyncIO support"
Hi,

we've integrated Auth0 in a FastAPI application and at the moment, we're forced to run the requests to Auth0 in a thread pool since the Auth0 library uses `requests` that is IO blocking.

Is there any plan to support AsyncIO?

Running each request in a thread pool is resource-intensive and does not allow us to leverage the non-blocking IO towards Auth0 APIs. In the long term, this will not be

[2022-02-18 10:28] ca-simone-chiorazzo commented on #304
I saw that 3 years ago this ticket was issued https://github.com/auth0/auth0-python/issues/184 and closed. But I think that in 3 years the AsyncIO support for python is increased rapidly and is now widely adopted (thanks also to the success of projects like FastAPI/Starlette)

[2022-02-24 02:05] senhuayu commented on #264
@lbalmaceda I tried the following code:

[code]

but didn't receive password change email in the inbox that is associated with the user_id. The object "auth0" is confirmed to work fine.

How do I correctly define the "body" dictionary to receive the email? Or what else shall I call to receive the email?

[2022-03-09 21:52] #299 closed

[2022-03-10 16:28] #302 closed

[2022-03-15 20:21] chiora93 commented on #304
Any news about this request?

[2022-03-18 17:16] MwinyiMoha commented on #304
I hope this supports AsyncIO soon

[2022-04-04 11:01] adamjmcgrath commented on #304
Hi @ca-simone-chiorazzo (and others who have supported this issue @chiora93 @MwinyiMoha @Giaco9 @krissetto @willianantunes @bradydean)

We have a branch that currently supports asyncio for the Management client (requires `python >=3.6` and `aiohttp`), you can test it out by installing the branch using pip (see https://pip.pypa.io/en/stable/topics/vcs-support/#supported-vcs), eg

[code]

Then:

[co

[2022-04-04 12:01] ca-simone-chiorazzo commented on #304
Hi @adamjmcgrath,

thanks for the update! I'll try to test it this week, I'll keep you posted on this.

Best regards,
Simone

[2022-04-16 00:51] DeadHeadRussell opened #315 "Expose `mfa_token` in the `Auth0Error` class"
### Describe the problem

The `Auth0Error` class handles the `mfa_required` error but does not have a way for the client to access the `mfa_token` field in the response body.

### What was the expected behavior?

Add a way to access the underlying `content` parameter for the `Auth0Error` class or another method that allows accessing the `mfa_token` field.

### Reproduction

[code]

### Environment

[2022-05-04 16:50] #304 closed

[2022-05-20 13:31] ca-simone-chiorazzo opened #317 "AsyncIO - Allow providing an initial aiohttp session to the auth0 client"
### Describe the problem you'd like to have solved

We've refactored our implementation of auth0 python in order to leverage the new asyncio support.
During the development, we've found difficult to  provide an aiohttp HTTP client session to the auth0 SDK, making difficult to leverage a best practice like https://docs.aiohttp.org/en/stable/faq.html#how-do-i-manage-a-clientsession-within-a-web-serv

[2022-06-08 22:15] kkirkesai opened #346 "Version 3.23.0 No longer supports RestClientOptions"
If you look at the Auth0 class  constructor the rest_options parameter is not used.   This means rate limit retries will not be used.

[2022-06-09 08:07] adamjmcgrath commented on #346
Hi @kkirkesai - could you share a little more info

I'm seeing the `rest_options` argument passed from the `Auth0` class constructor to the services classes here https://github.com/auth0/auth0-python/blob/3.23.0/auth0/v3/management/auth0.py#L86 - this is in `3.23.0`

[2022-06-09 08:12] adamjmcgrath commented on #317
Hi @ca-simone-chiorazzo - thanks for raising this

You can share a session between individual services as follows:

[code]

Is this what you were after?

[2022-06-09 08:18] adamjmcgrath commented on #346
Ah, don't worry - I see it now 🤦 - will raise some work to fix

[2022-06-09 14:45] kkirkesai commented on #346
Also this line
https://github.com/auth0/auth0-python/blob/3.23.0/auth0/v3/management/auth0.py#L83 - this is in 3.23.0

[2022-06-09 16:01] miguelhdezsob opened #352 "SDK should implement pagination"
### Describe the problem you'd like to have solved

Currently, several clients like the `clients.py` one have an `all` method, which is supposed to retrieve "all" clients:
https://github.com/auth0/auth0-python/blob/master/auth0/v3/management/clients.py#L47

However, this is clearly not the case, since the Auth0 client does not implement pagination, so at most only 50 applications are fetched.

The

[2022-06-10 08:36] adamjmcgrath commented on #352
Hi @miguelhdezsob - thanks for your feedback

Providing logic to page through the results is not something we're looking at implementing for this SDK. The pagination options for the `all` method are documented here https://github.com/auth0/auth0-python/blob/master/auth0/v3/management/clients.py#L68-L72

[2022-06-10 08:36] #352 closed

[2022-06-14 08:35] #315 closed

[2022-06-27 16:06] ca-simone-chiorazzo commented on #317
@adamjmcgrath Nope, I was referring to passing the client session directly to the `Auth0` client and not on individual services

[2022-08-16 19:13] emosenkis commented on #208
Can this be reopened? Type hints would be very nice to have and it's increasingly unusual for an SDK not to either include them or have external stubs in typeshed.

[2022-08-19 19:25] miketheman commented on #208
Echoing the sentiments - and tagging @emosenkis and @Widcket as a couple of folks who have recently merged PRs to this library.

[2022-08-19 19:26] Widcket commented on #208
cc @adamjmcgrath

[2022-08-22 16:16] emosenkis commented on #208
@adamjmcgrath did you see @kornicameister's offer to add community-contributed type hints to typeshed? Would you be amenable to that?

[2022-08-25 16:09] adamjmcgrath commented on #208
Thanks for raising that @emosenkis

And yep, thanks for your offer to add stubs to typeshed @kornicameister - happy to give it a 👍

[2022-09-01 15:49] blochs opened #414 "Missing Import for Branding"
### Describe the problem

Attempting to utilize the "Branding" module results in attribute not found

### What was the expected behavior?

I would expect utilizing the branding module to be possible as it's in the code

### Reproduction
1. Grab a management token and authenticate per the example docs:

[code]

2. Utilizing the token, instantiate the object per examples:

[code]

 4. Assuming that

[2022-09-16 07:41] ca-simone-chiorazzo commented on #317
It would be great to have something like:
[code]

in order to be able to continue leverage the `Auth0` object.

[2022-09-22 15:30] ca-simone-chiorazzo opened #432 "AsyncIO - Add asyncio support to JwksFetcher"
### Describe the problem you'd like to have solved
You did a great job in adding asyncio support for the management and authentication clients.
In order to have completely asyncio approach, it would be great to have also an asyncio implementation for the JWKS fetcher.

As of today, such object is IO blocking and can block a python asyncio app for a while due to the download of a resource from inte

[2022-10-11 02:25] bistasulove opened #441 "Allow Support for customizing Client's timeout"
### Describe the problem you'd like to have solved
Sometimes, getting the user's guardian MFA enrollment API call times out with an error
`<class 'requests.exceptions.ReadTimeout'>:HTTPSConnectionPool(host='example.auth0.com', port=443): Read timed out. (read timeout=5.0)`. I noticed that timeout is hard-coded to 5 seconds. When I instantiate Auth0's object using `auth0 = Auth0(domain, access_toke

[2022-10-11 14:43] adamjmcgrath commented on #432
Thanks for raising this @ca-simone-chiorazzo - will take a look at this and update you shortly

[2022-10-12 10:29] #414 closed

[2022-10-12 10:38] #317 closed

[2022-10-17 13:32] #432 closed